body{
    font-family:  'Karla', sans-serif;
    padding: 5% 20%;
    background-color: #e6eff6;
    
}

.container{
    width: 75%;
    margin: auto;
    box-shadow: 10px 0 10px grey;
    border-radius: 10px;
   
}
.bottom-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.719);
}

.top-container{
   padding: 30px;
   background-color: #fff;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   
}
.bottom-left{
    flex: 50%;
    padding: 30px;
    background-color: #4abebd;
    border-bottom-right-radius: 10px;
    }
.bottom-right{
    flex: 50%;
    padding: 30px;
    background-color: #239593;
    border-bottom-left-radius: 10px;
    color: #fff;
    
}

h2{
    color:#239593 ;
}
.top-container h3 {
    color: #C0DF34;
}

.top-container p {
    font-size: 17px;
    line-height: 1.5;
    font-weight: bolder;
    color: #adadadb6;
    
}
.dollar{
    color: white;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0;
}

.month{
    opacity: 0.5;
    margin: 0 10px;
    font-size: 1rem;
}

.bottom-right p {
  margin-top: 5px;   
}
h3{
    color: #fff;
}

button{
    padding: 5% 25%;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #C0DF34;
    box-shadow: 5px 5px 5px rgba(48, 48, 48, 0.623);
}

.text{
    line-height: 1.5;
    margin-right: 50px;
}


@media only screen and (max-width: 870px) {
    body{
        padding: 5% 8%;
    }
   .container{
       width: 75%;
     

   }
   .bottom-container{
       flex-direction: column;
   }
  
   .bottom-left{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
   }
   .bottom-right{
       border-bottom-left-radius: 0;
       border-bottom-right-radius: 0;
   }
}